/* Notes

Colour palette:
red: #9a1115
Gold: #e8bc6d
Blue: #0d407f

*/

/* Page and text styling - These only need to be in the one place as they will be reused across the whole website */

body {
  background-color: #e8bc6d;
}

h1 {
  color: #0d407f;
}



/*styles for the nav bar */

.nav-bar ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #9a1115;
  display: flex;
}


.nav-bar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #111111;
}

/* styles for images and pages*/

img {
    width: 100%;
}

/* flexbox and styles for images inside of flexbox*/
.container {
  display: flex;
  flex-direction: row;
}

.container img {
  width: 50%;
}

.creations-container {
  /* Because of how the creations page is a different set up to the rest of the pages, it needs it's own container for flexbox*/
  display: flex;
  flex-direction: row;
}