/* Notes

Colour palette:
red: #9a1115
Gold: #e8bc6d
Blue: #0d407f

*/

/* Page and text styling - These only need to be in the one place as they will be reused across the whole website */

body {
  background-color: #e8bc6d;
}

h1 {
  color: #0d407f;
  text-align: center;
  text-shadow: 1px 1px white;
  font-weight: 1000;
  font-size: xx-large;
}

p {
  /*I want some padding around the text so that it is not too close to the edges*/
  padding: 2%;
}

.home p {
  text-align: center;
}

/*styles for the nav bar */

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #9a1115;
  display: flex;
}


.nav-bar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

.nav-bar li a:hover {
  background-color: #111111;
}

/* styles for images and pages*/

img {
  width: 100%;
}

/* flexbox and styles for images inside of flexbox*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container img {
  width: 50%;
  padding: 1%;
}

.text {
  width: 50%;
}

.creations-container {
  /* Because of how the creations page is a different set up to the rest of the pages, it needs it's own container for flexbox*/
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.image-div {
  flex: 0 0 calc(33.333% - 10px); 
  
}

.image-div img {
  aspect-ratio: 1 / 1;
  /* Forces all images into a perfect square */
  object-fit: cover;
  max-width: 100%;
}