/*styles for the nav bar */

.nav-bar ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}


.nav-bar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #111111;
}

/* styles for images and pages*/

img {
    width: 100%;
}